body.eolium {
  min-height: 100vh !important;
  display: flex !important;
  flex-flow: column nowrap !important;
  background-color: #e6e6e6 !important;
}
body.eolium .container-fluid {
  max-width: 1100px;
}
body.eolium.free-width .container-fluid {
  max-width: none !important;
}
body.eolium .container-main {
  width: 100%;
  flex-grow: 1;
  margin-top: 30px;
}
body.eolium #footer {
  width: 100%;
  max-width: none !important;
}

.bar {
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  width: 100%;
  height: 56px;
  background-color: #555;
  color: white;
  z-index: 200;
  box-sizing: border-box;
}
.bar--row {
  background: none !important;
  display: flex;
  flex-flow: row nowrap;
}
.bar--title {
  line-height: 56px;
  height: 56px;
  font-size: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 80%;
}
.bar--title .logo {
  max-height: 36px;
}
.bar--spacer {
  flex-grow: 1;
}
.bar--form {
  position: relative;
}
.bar--list {
  margin: 0;
  padding: 0;
}
.bar--list > li {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 56px;
  line-height: 56px;
}

.navbar {
  z-index: 300;
  background-color: #395a2f;
}
.navbar .bar--title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.navbar .bar--form {
  display: flex;
}
.navbar .bar--form #h-search {
  align-self: center;
  width: 260px;
  height: 30px;
  display: none;
}
.navbar #s-selector-wrap {
  left: initial !important;
  top: initial !important;
  right: 221px !important;
}
.navbar #h-s-keywords {
  left: initial !important;
  top: initial !important;
  right: 53px !important;
  color: #555;
}
.navbar #h-search input[type='submit'] {
  left: initial !important;
  right: 20px !important;
  top: initial !important;
}
.navbar--profile {
  display: flex;
  position: relative;
  flew-flow: row;
  max-width: 50%;
  align-items: center;
}
.navbar--profile .badge {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #ff7f00;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  text-align: center;
}
.navbar--profile .username {
  font-family: Oswald, sans-serif;
  font-size: 1.8rem;
  margin-right: 10px;
  cursor: pointer;
}
.navbar--profile .username::after {
  display: inline;
  margin-left: 5px;
  content: '▼';
  font-size: 1rem;
}
.navbar--profile.open .username::after {
  transform: rotate(180deg);
}
.navbar--profile .avatar {
  height: 36px;
  border: 1px solid white;
}
.navbar--profile .popup {
  font-family: Oswald, sans-serif;
  font-size: 1.6rem;
  position: absolute;
  visibility: hidden;
  top: 56px;
  right: -15px;
  background-color: white;
  z-index: 199;
  padding: 5px 0;
  min-width: 200px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.navbar--profile.open .popup {
  visibility: visible;
}
.navbar--profile .popup a {
  display: flex;
  align-items: center;
  margin: 10px 20px;
  color: #555;
  text-decoration: none;
}
.navbar--profile .popup a:hover {
  color: #ff7f00;
}
.navbar--profile .popup a::before {
  display: inline-block;
  content: ' ';
  width: 30px;
  height: 30px;
  margin-right: 5px;
  background-size: contain;
  -webkit-filter: brightness(40%);
  filter: brightness(40%);
}
.navbar--profile .popup a#ucp-login::before {
  -webkit-filter: brightness(60%);
  filter: brightness(60%);
  background-size: auto;
  background-image: url(/img/key.png);
  background-repeat: no-repeat;
  background-position: center;
}
.navbar--profile .popup a#ucp-register::before {
  font-family: FontAwesome;
  line-height: 30px;
  color: #555;
  text-align: center;
  content: '\f044';
}

.menubar {
  background-color: #ccc;
  font-family: Oswald, sans-serif;
  font-size: 1.5rem;
  height: auto !important;
}
.menubar .main {
  color: #555;
  display: flex;
  flex-grow: 1;
  flex-flow: row wrap;
  justify-content: center;
}
.menubar .main > li > a {
  color: #555;
  text-decoration: none;
}
.menubar .main > li {
  line-height: 36px !important;
  height: 36px !important;
  position: relative;
  padding: 0 10px;
}
.menubar .main > li:hover {
  border-bottom: 3px solid #555;
}
.menubar .main > li.open {
  border-bottom: 3px solid white;
}
.menubar .toggle {
  cursor: pointer;
}
.menubar .main > li.open > .toggle {
  color: white;
}
.menubar .main .main-popup {
  font-family: Oswald, sans-serif;
  z-index: 190;
  font-size: 1.6rem;
  position: absolute;
  top: 36px;
  min-width: 150px;
  background-color: white;
  padding: 10px 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.menubar .main .main-popup.ltr {
  left: 0;
}
.menubar .main .main-popup.rtl {
  right: 0;
}
.menubar .main li > ul {
  display: none;
}
.menubar .main li.open > ul {
  display: block;
}
.menubar .main .main-popup ul,
.menubar .main .main-popup li {
  margin: 0;
  padding: 0;
  line-height: initial;
  list-style: none;
}
.menubar .main .main-popup li {
  margin: 0;
  padding: 0;
}
.menubar .main .main-popup a,
.menubar .main .main-popup .toggle {
  padding: 5px 20px;
  white-space: nowrap;
}
.menubar .main .main-popup .toggle::after {
  font-size: 0.5em;
  display: inline-block;
  margin-left: 5px;
  content: '▼';
  align-self: center;
}
.menubar .main .main-popup li.open .toggle::after {
  transform: rotate(180deg);
}
.menubar .main .main-popup a {
  text-decoration: none;
  color: #555;
}
.menubar .main .main-popup a:hover {
  color: #ff7f00;
}
.menubar .main .main-popup .submenu {
  padding: 5px 0;
  background-color: rgba(0, 0, 0, 0.1);
}

@media (min-width: 638px) {
  .bar {
    height: 64px;
  }
  .bar--title {
    line-height: 64px;
    height: 64px;
    font-size: 2.3rem;
  }
  .bar--title .logo {
    max-height: 48px;
  }
  .bar--list > li {
    height: 64px;
    line-height: 64px;
  }

  .navbar--profile .username {
    font-size: 2rem;
    margin-right: 15px;
  }
  .navbar--profile .username::after {
    font-size: 1.3rem;
  }
  .navbar--profile .avatar {
    height: 48px;
  }
  .navbar--profile .popup {
    top: 64px;
  }
}

@media (min-width: 880px) {
  .navbar .bar--form #h-search {
    display: block;
  }
}

/* Dark mode */
/* Color palette (from TailwindCSS) */
:root {
  --gray-100: #f4f4f5;
  --gray-200: #e4e4e7;
  --gray-300: #d4d4d8;
  --gray-400: #a1a1aa;
  --gray-500: #71717a;
  --gray-600: #52525b;
  --gray-700: #3f3f46;
  --gray-800: #27272a;
  --gray-900: #18181b;

  --orange-100: #ffedd5;
  --orange-200: #fed7aa;
  --orange-300: #fdba74;
  --orange-400: #fb923c;
  --orange-500: #f97316;
  --orange-600: #ea580c;
  --orange-700: #c2410c;
  --orange-800: #9a3412;
  --orange-900: #7c2d12;

  --green-100: #ecfccb;
  --green-200: #d9f99d;
  --green-300: #bef264;
  --green-400: #a3e635;
  --green-500: #84cc16;
  --green-600: #65a30d;
  --green-700: #4d7c0f;
  --green-800: #3f6212;
  --green-900: #365314;
}

/* Global */
html.dark body {
  color: var(--gray-200);
  background-color: black;
}
html.dark body.eolium {
  background-color: var(--gray-900) !important;
}
html.dark a {
  color: white;
}
html.dark a:hover {
  color: var(--orange-400) !important;
}
html.dark .container,
html.dark .container-fluid {
  background-color: var(--gray-900);
}
html.dark .action-btn,
html.dark #format-buttons button,
html.dark #format-buttons select {
  background-color: var(--orange-400);
}
html.dark .action-btn:hover,
html.dark #format-buttons button:hover {
  color: white !important;
  background-color: var(--orange-500);
}
html.dark .btn-primary,
html.dark #footer-bar a {
  background-color: var(--green-300);
  color: var(--green-900);
  border-color: var(--green-300);
}
html.dark .btn-primary:hover,
html.dark #footer-bar a:hover {
  background-color: var(--green-500);
  color: var(--green-900) !important;
}

/* Tables */
html.dark .table-striped > tbody > tr:nth-of-type(2n + 1) {
  background-color: var(--gray-800);
}
html.dark .table-hover > tbody > tr:hover {
  background-color: var(--gray-600);
}
html.dark .table > thead > tr > th,
html.dark .table > thead > tr > td,
html.dark .table > tbody > tr > th,
html.dark .table > tbody > tr > td,
html.dark .table > tfoot > tr > th,
html.dark .table > tfoot > tr > td {
  border-top-color: var(--gray-700);
}

/* Forms */
html.dark input:not([type='submit']),
html.dark .form-control,
html.dark #smileys {
  color: var(--gray-200);
  background-color: var(--gray-800);
  border-color: var(--gray-700);
}
html.dark .panel-body .form-control,
html.dark .panel-body #smileys {
  background-color: var(--gray-700);
  border-color: var(--gray-600);
}

/* Embed elements */
html.dark .btn-embed {
  color: var(--green-200);
}
html.dark .btn-embed:hover {
  color: var(--orange-400);
}
html.dark .embed-wrap {
  background-color: var(--gray-800);
}

/* Actions, pagination */
html.dark .forum-actions .pages a,
html.dark .forum-actions .pages strong,
html.dark .topic-actions .pages a,
html.dark .topic-actions .pages strong,
html.dark #ucp-actions .pages a,
html.dark #ucp-actions .pages strong,
html.dark #mcp-actions .pages a,
html.dark #mcp-actions .pages strong,
html.dark #news-actions .pages a,
html.dark #news-actions .pages strong,
html.dark #memberlist-actions .pages a,
html.dark #memberlist-actions .pages strong,
html.dark .forum-actions .pagination-menu > a,
html.dark .topic-actions .pagination-menu > a,
html.dark #ucp-actions .pagination-menu > a,
html.dark #mcp-actions .pagination-menu > a,
html.dark #news-actions .pagination-menu > a,
html.dark #memberlist-actions .pagination-menu > a {
  color: var(--green-100);
  background-color: var(--gray-800);
}
html.dark .forum-actions .pages strong,
html.dark .forum-actions .pages a:hover,
html.dark .topic-actions .pages strong,
html.dark .topic-actions .pages a:hover,
html.dark #ucp-actions .pages strong,
html.dark #ucp-actions .pages a:hover,
html.dark #mcp-actions .pages strong,
html.dark #mcp-actions .pages a:hover,
html.dark #news-actions .pages strong,
html.dark #news-actions .pages a:hover,
html.dark #memberlist-actions .pages strong,
html.dark #memberlist-actions .pages a:hover,
html.dark .forum-actions .pagination-menu > a:hover,
html.dark .topic-actions .pagination-menu > a:hover,
html.dark #ucp-actions .pagination-menu > a:hover,
html.dark #mcp-actions .pagination-menu > a:hover,
html.dark #news-actions .pagination-menu > a:hover,
html.dark #memberlist-actions .pagination-menu > a:hover,
html.dark .forum-actions form input[type='submit'],
html.dark .topic-actions form input[type='submit'],
html.dark .forum-actions form input.toggle,
html.dark .topic-actions form input.toggle {
  color: white !important;
  background-color: var(--orange-400);
}
html.dark .forum-actions .pagination-menu > div,
html.dark .topic-actions .pagination-menu > div,
html.dark #ucp-actions .pagination-menu > div,
html.dark #mcp-actions .pagination-menu > div,
html.dark #news-actions .pagination-menu > div,
html.dark #memberlist-actions .pagination-menu > div {
  background-color: var(--gray-700);
}
html.dark .topic-actions form input.toggle.active {
  background-color: var(--gray-700);
}
html.dark .forum-actions .pagination-menu > div::before,
html.dark .topic-actions .pagination-menu > div::before,
html.dark #ucp-actions .pagination-menu > div::before,
html.dark #mcp-actions .pagination-menu > div::before,
html.dark #news-actions .pagination-menu > div::before,
html.dark #memberlist-actions .pagination-menu > div::before {
  border-bottom-color: var(--gray-700);
}

/* Header */
html.dark #header {
  /* background-image: linear-gradient(var(--green-700), var(--gray-900)); */
}
html.dark #h-s-keywords {
  color: var(--gray-200);
  background-color: var(--gray-800);
}
html.dark #s-selector,
html.dark #s-popup {
  background-color: var(--gray-800);
}
html.dark #s-popup > a {
  color: var(--gray-200);
}
html.dark #h-popup {
  background-color: var(--gray-700);
}
html.dark #h-p-content,
html.dark #h-p-content a,
html.dark #u-nick a.active {
  color: var(--gray-200);
}
html.dark #h-p-guest input[type='text'],
html.dark #h-p-guest input[type='password'] {
  color: var(--gray-200);
  background-color: var(--gray-800);
  border-color: var(--gray-900);
}
html.dark #u-avatar img[alt='Avatar de invitado'] {
  filter: invert() brightness(200%);
}

/* Menu */
html.dark #menu > a {
  color: var(--gray-400);
}
html.dark #menu div[id^='popup'] {
  background-color: var(--gray-500);
}
html.dark #menu div[id^='popup'] a {
  color: var(--gray-100);
}
html.dark #menu #popup-main::before,
html.dark #menu #popup-multi::before {
  border-left-color: var(--gray-500);
}
html.dark #menu #popup-retro::before,
html.dark #menu #popup-more::before {
  border-bottom-color: var(--gray-500);
}

/* News */
html.dark .new .wrap,
html.dark #shortnews,
html.dark .news-ad {
  color: var(--gray-300);
  background-color: var(--gray-800);
}
html.dark .new .wrap::before {
  border-bottom-color: var(--gray-800);
}
html.dark .new .wrap .newcat,
html.dark #shortnews h2 a {
  color: var(--gray-400);
}
html.dark .new .wrap h2 a,
html.dark #shortnews h3 a {
  color: var(--green-200);
}
html.dark .new .meta,
html.dark #relatednews a:not(.normal) .date {
  background-color: var(--orange-400);
}
html.dark .new .meta::after,
html.dark #relatednews a:not(.normal) .date::after {
  border-right-color: var(--orange-400);
}
html.dark #sidebar .section h2 {
  background-color: var(--green-200);
  color: var(--green-900);
}
html.dark #sidebar .section h2::after {
  border-right-color: var(--green-200);
}
html.dark #sidebar .section {
  background-color: var(--gray-700);
}
html.dark #sidebar .section a span {
  border-bottom-color: var(--gray-800);
}
html.dark #sidebar .section a::before {
  color: var(--gray-700);
  border-bottom-color: var(--gray-200);
}
html.dark #n-search input[type='submit'] {
  border-left-color: var(--gray-500);
  background-color: var(--orange-400);
}
html.dark #n-s-select {
  color: var(--gray-200);
  background-color: var(--gray-800);
}
html.dark #slider #slider-header,
html.dark #slider #slider-reach {
  background-color: var(--orange-400);
}
html.dark #slider #slider-title::after {
  border-right-color: var(--orange-400);
}
html.dark #slider #slider-reach::after {
  border-top-color: var(--orange-400);
}
html.dark #slider #slider-title:hover {
  color: white !important;
}
html.dark #slider #slider-links a:hover {
  background-color: var(--orange-400);
  color: white !important;
}
html.dark #slider #slider-links a.active {
  border-bottom-color: var(--orange-400);
}

/* News detail */
html.dark #news-singlenew-title {
  background-color: var(--gray-800);
}
html.dark #news-singlenew-title h1 {
  color: var(--gray-400);
}
html.dark #news-singlenew-subtitle {
  background-color: var(--gray-700);
}
html.dark #news-single #news-inner-wrap {
  color: var(--gray-300);
  background-color: var(--gray-800);
}
html.dark #news-single #news-inner-wrap::before {
  border-bottom-color: var(--gray-700);
}
html.dark #news-singlenew-subtitle {
  color: var(--gray-400);
  background-color: var(--gray-700);
}
html.dark #news-singlenew-subtitle a {
  color: var(--gray-300);
}
html.dark #news-single #news-inner-wrap #news-top-container,
html.dark #news-social > * {
  border-color: var(--gray-700);
}
html.dark #news-singlenew-prev,
html.dark #news-singlenew-next {
  border-left-color: var(--gray-800);
}
html.dark #news-social > :hover,
html.dark #news-singlenew-prev:hover,
html.dark #news-singlenew-next:hover {
  color: white !important;
  background-color: var(--orange-400);
}
html.dark #news-cat,
html.dark #news-cat a,
html.dark #news-author {
  color: var(--gray-200);
}

/* News comments */
html.dark #news-comments .n-c-user {
  border-bottom-color: var(--gray-700);
}
html.dark #news-comments .n-c-text {
  color: var(--gray-300);
}

/* Quotes */
html.dark blockquote,
html.dark blockquote blockquote blockquote {
  background-color: var(--gray-600);
  border-left-color: var(--gray-400);
}
html.dark blockquote blockquote {
  background-color: var(--gray-500);
}

/* Forums */
html.dark #breadcrumbs,
html.dark #breadcrumbs a {
  color: var(--gray-400);
}
html.dark .section .header {
  background-color: var(--gray-700);
}
html.dark .section .header::after {
  border-right-color: var(--gray-700);
}
html.dark .section .forum,
html.dark .section .forum .topicbtn,
html.dark .section .topic,
html.dark .section .topic .topicbtn {
  background-color: var(--gray-800);
  border-bottom-color: var(--gray-700);
}
html.dark .section .forum a,
html.dark .section .forum .topicbtn a,
html.dark .section .topic a,
html.dark .section .topic .topicbtn a {
  filter: grayscale(30%);
}
html.dark .section .topic .title a,
html.dark .section .forum .title a {
  color: var(--gray-200);
}
html.dark .section .topic .author a,
html.dark .section .topic .author .mods,
html.dark .section .forum .author a,
html.dark .section .forum .author .mods,
html.dark .section .topic .lastpost .lasttime a,
html.dark .section .forum .lastpost .lasttime a {
  color: var(--gray-500);
}
html.dark .section .topic .pages a,
html.dark .section .forum .pages a {
  background-color: var(--gray-700);
  border-color: var(--gray-600);
  color: var(--gray-400);
}

/* Topics */
html.dark .section .post {
  background-color: var(--gray-800);
  border-left-color: var(--gray-600);
}
html.dark .section .post:hover {
  border-left-color: var(--orange-400);
}
html.dark .section .post .profile {
  background-color: var(--gray-700);
  border-right-color: var(--gray-800);
}
html.dark .section .post .profile .author {
  color: var(--green-200);
}
html.dark .section .post .profile .avatar.online {
  border-bottom-color: var(--green-500);
}
html.dark .section .post .content {
  border-left-color: var(--gray-800);
}
html.dark .section .post .content::before {
  background-image: none;
  width: 0;
  height: 0;
  border-width: 0 20px 20px 0;
  border-style: inset solid solid inset;
  border-color: transparent var(--gray-800) transparent transparent;
}
html.dark .spoiler input {
  background-color: var(--green-600);
  border-color: var(--green-600);
  color: white;
}
html.dark .spoiler .spoilertext {
  border-color: var(--green-600);
}
html.dark .section .post .content .message a.mention {
  color: var(--green-200);
}
html.dark .section .post .profile .buttons a {
  background-color: var(--green-600);
}
html.dark .section .post .profile .buttons a:hover {
  background-color: var(--orange-600);
}
html.dark .content .actions .buttons a {
  background-color: var(--gray-600);
}
html.dark .content .actions .buttons a:hover {
  background-color: var(--orange-400);
}
html.dark .ban-notice {
  background-color: var(--orange-400);
}

/* User zone */
html.dark .panel-primary > .panel-heading {
  background-color: var(--gray-700);
  border-color: var(--gray-700);
}
html.dark .panel .panel-heading::after {
  border-right-color: var(--gray-700);
}
html.dark .panel-body,
html.dark .panel .panel-body.colored,
html.dark .panel .panel-body .tab-content .panel .panel-body {
  background-color: var(--gray-800);
}
html.dark .nav > li > a {
  background-color: var(--gray-700);
  color: var(--gray-300);
}
html.dark .nav > li.active > a {
  background-color: var(--gray-500);
  color: var(--gray-100);
}
html.dark .nav-tabs > li.active > a,
html.dark .nav-tabs > li.active > a:hover,
html.dark .nav-tabs > li.active > a:focus {
  border-color: var(--gray-700);
  border-bottom-color: transparent;
}
html.dark .nav-tabs {
  border-bottom-color: var(--gray-500);
}
html.dark .nav-tabs > li {
  margin-bottom: 0;
}
html.dark .tab-content {
  background-color: var(--gray-900);
  border-color: var(--gray-500);
}
html.dark .help-block {
  color: var(--gray-500);
}

/* Wiki content */
html.dark #wiki-bar {
  background-color: var(--gray-700);
}

/* Ads */
.anno {
  background-color: var(--gray-800);
}

/* Compact mode */
html.dark .menubar {
  background-color: var(--gray-800);
  color: var(--gray-200);
}
html.dark .menubar .main {
  color: var(--gray-400);
}
html.dark .menubar .main > li > a,
html.dark .menubar .main .main-popup a {
  color: var(--gray-200);
}
html.dark .menubar .main > li:hover {
  border-bottom: 3px solid var(--gray-400);
}
html.dark .menubar .main > li.open {
  border-bottom: 3px solid var(--gray-200);
}
html.dark .menubar .main .main-popup {
  background-color: var(--gray-600);
}
html.dark .navbar--profile .popup {
  background-color: var(--gray-600);
}
html.dark .navbar--profile .popup a {
  color: var(--gray-200);
}
html.dark .navbar--profile .popup a:hover {
  color: var(--orange-400);
}
html.dark .navbar--profile .popup a::before {
  filter: brightness(70%);
}
